body {
    margin: 0;
    color: #878787;
    font-size: 150%;
}

h1 {
    font-size: 90px;
    color: white;
}

h2 {
    font-size: 53px;
}

h3 {
    font-size: 20px;
    color: #48525c;
}


/****************** 
Class Selectors 
******************/

.main-header {
    background-color: orange;
    width: 50%;
}

.primary-content {
    text-align: center;
}

.secondary-content {
    border-top: 3px solid lightgray;
}

.primary-content,
.secondary-content {
    width: 60%;
}


/****************** 
ID Selectors 
******************/

#main-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: solid 10px orange;
}