.main-content {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    max-width: 1000px;
    width: 95%;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.btn {
    margin-top: auto;
}